*{
	margin:0;
	padding:0;    
    box-sizing: border-box;
}

body{
    background-color: #fff  ;
    font-family: nunito, sans-serif;
}

html{
    scroll-behavior: smooth;
}

section {
    width: 100%;
    height: 100%vh;
}

section nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #F36C21; 
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    z-index: 1000;
}


section nav .logo img{
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin: 7px 0;
}

section nav ul{
    list-style: none;
}

section nav ul li{
    display: inline-block;
    margin: 0 20px;
}

section nav ul li a{
    text-decoration: none;
    color: #0E0A52;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

section nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: white;    
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover::after{
    width: 100%;
}

section nav ul li a:hover {
    color: white;
}

/*Main*/

section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 120px;
    
}

section .main .men_text h1{
    font-size: 50px;
    position: relative;
    top: -90px;
    left: 20px;
}

section .main .men_text h1 span{
    margin-left: 15px;
    color: #EA0B03;
    font-family: mv boli;
    line-height: 22px;
    font-size: 60px;
}

section .main .main_image img{
    width: 600px;
    position: relative;
    left: 30px;
}

section p{
    width: 600px;
    text-align: justify;
    position: relative;
    left: 120px;
    bottom: 120px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 100px;
}

/*About*/

.about{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    background-color: #FCF8E3;
    top: 100px;
}

.about .about_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about_main .image img{
    width: 800px;
    position: relative;
    top: 60px;
}

.about .about_main .about_text h1 span{
    color: #EA0B03;
    margin-right: 15px;
    font-family: mv boli;
    text-align: center;
    top: 100px;
}

.about .about_main .about_text h1 span a {
    text-decoration: none;
}


.about .about_main .about_text h1{
    font-size: 50px;
    position: relative;
    text-align: center;
    bottom: 50px;
    top: 125px;
}

.about .about_main .about_text h3{
    font-size: 40px;
    margin: 180px 0 50px 0;
    text-align: center;
}

.about .about_main .about_text p{
    width: 650px;
    text-align: justify;
    text-align: center;
    margin-right: 30px;
    line-height: 35px;
    font-size: 17px;
}

.Slideshow{
    display: flex;
    justify-content: center;
    background-color: #FCF8E3;
    padding: 50px ;
}



.slide{
    border: 20px solid #F36C21;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    
}



/*Menu*/

.menu{
    width: 100%;
    padding: 70px 0;

}

.menu h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.menu h1 a {
    text-decoration: none; 
}

.menu h1 span{
    color: #E0163D;
    margin-left: 15px;
    font-family: mv boli;
}

.menu h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #E0163D;
    display: block;
    position: relative;
    bottom: 15px;
}

.menu .menu_box{
    width: 95%;
    margin-left: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 50px;
}

.menu .menu_box .menu_card{
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.menu .menu_box .menu_card .menu_image{
    width: 300px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}

.menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.menu .menu_box .menu_card:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.menu .menu_box .menu_card .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: #000;
    cursor: pointer;
    text-shadow: 0 0 6px #000;
    transition: 0.2s;
}

.menu .menu_box .menu_card .small_card i:hover{
    color: #E0163D;
}

.menu .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #E0163D;
}

.menu .menu_box .menu_card .menu_info p{
    text-align: justify;
    margin: 15px;
    line-height: 21px;
}
.menu .menu_box .menu_card .menu_info a{
    text-decoration: none;
    margin-left: -50%;
}

.menu .menu_box .menu_card .menu_info h3{
    text-align: center;
    margin-top: 10px;
}

.menu .menu_box .menu_card .menu_info .menu_icon{
    color: #E0163D;
    text-align: center;
    margin: 10px 0 10px 0;
}

.menu .menu_box .menu_card .menu_info .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: #000;
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.3s;
}

    
/*Footer*/

footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background-color: #fff;
}

footer .footer_main{
    display: grid;
    grid-template-columns: 10fr 10fr 10fr;
    margin: 0 100px;   
}

footer .footer_main .footer_tag{
    text-align: center;
}

footer .footer_main .footer_tag h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
}   

footer .footer_main .footer_tag p{
    margin: 10px 0;
}

footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover{
    color: #E0163D;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

footer .end span{
    color: #E0163D;
    margin-left: 10px;
}

::-webkit-scrollbar{
    width: 13px;
    display: none;
}
