
body{
	margin:0;
	padding:0;
}
*{
	box-sizing: border-box;
}
	header{
		position: fixed;
		background-color:#FF682C;
		width: 100%;
         	box-shadow: 2px 4px 4px rgba(0,0,0,0.6); 
		top: 0;
		left: 0;
	}
	header logo, 
	header nav {
		width: 50%;
	}

	header logo{
		padding: 5px;
	}
	header logo img{
		max-height: 70px;
		width: auto;
		border: 1px solid white;
		border-radius: 5px;
	}
	header nav {
		text-align: right;
	}
	body{
		background-color: #FFFFFF;
		margin-top: 5%;
	}

	header nav .main-menu
	header nav .sub-menu {
		list-style: none;
		padding-left: 0;
		margin: 0;
	}
	header nav .main-menu li{
		display: inline-block;
		margin-top: 5px;
		position: relative;
	}

	header nav .main-menu li a{
		display: inline-block;
		padding: 15px 25px;
		text-decoration: none;
		color: black;
	}
	header nav .main-menu li a:hover {
		color: white;
	}
	header nav .main-menu li .sub-menu{
		border-radius: 8px;
		min-width: 110px;
		display: none;
		padding-left: 0;
	}
	header nav .main-menu li:hover .sub-menu{
		display: block;
		padding: 0 680px;
	}
	header nav .main-menu li .sub-menu li,
	header nav .main-menu li .sub-menu li a{
		display: block;
		text-align: center;
	}
	header nav .main-menu li .sub-menu li a {
		padding: 10px 5px;
	}
        .content {
            max-width: 1200px;
            margin: auto;
            padding: 30px;
            background-color:#FFFFFF; 

            box-shadow: 2px 2px 4px rgba(0,0,0,0.6); 
            display: flex; 
 
        }
	row{
		display: flex;
		width: 100%;
	}

	.title{
  	        font-family: courier, slab-serif;
		text-align: center;
		font-size: 80px;
		line-height: 0;
		margin-top: 8%;
		width: 180%;
	}
	table {
		font-family: arial, sans-serif;
		font-size: 18px;
  	        border-collapse: collapse;
            	background-color: #FFD1AA;
		overflow: hidden;
	}

	    table, th, td { 
		    border: 1px solid black; 
		    padding: 8px;
	    }

        th, .highlight {
            background-color: #804515;
        }
        td {
            text-align: center;
        }
	.left img{
		width: 100%;
		height: 550px;
		border: 8px solid white;
		border-radius: 15px;
		margin-top: 1%;
	}
	.content .Right{
		margin:15px;
	}
	.steps{
		font-size:40px
	}
	.Ingrdts{
		margin-top: 23%;
	 	font-size: 40px;
		
	}
	.head, .head2{
		color: white;
	}
	.mobile{
		display: none;
	}

@media screen and (max-width: 400px ) {
	body {
		margin-top: 20%;	
		width: 350px;
		margin-left: 50%;
	}
	header nav {
		text-align: right;
		font-size: 20px;
	}
	.title{
		text-align: left;
		margin-top: 10%;
		font-size: 40px;
	}
	.left img{
		width: 90%;
		margin-top: 10%;
		margin-left: 5%;
		height: auto;
	}
	.content .Right{
		margin:5px;
	}
	.content {
		flex-direction: column;
		margin-top: 20%;
           	display: flex;
	}
	.left, .Right{
		width: 100%;
	}
	.mobile{
		display: inline-block;
	}
	header nav .main-menu{
		display: block;
		background-color:#DB9353;
		position: absolute;
		top: 60px;
		left: 100%;
		width: 100%;
		height: 100vh;
		transition: 0.3s all ease-in-out;
	}
	header nav label.mobile{
		border: 1px solid black;
		border-radius: 5px;
		padding: 5px 10px;
		margin: 12px 15px;
	}
	header nav label.mobile:hover{
		cursor: pointer;
	}
	
	header nav #mobile-menu{
		display: none;
	}

	header nav #mobile-menu:checked + .main-menu{
		left: 0;
		transition: 0.3s all ease-in-out;
	}
	header nav .main-menu li{
		display: block;
		text-align: center;
	}
	header nav .main-menu li{
		color: white;
	}
}


@media screen and (max-width: 500px ) {
	body {
		margin-top: 20%;	
		width: 350px;
		margin-left: 50%;
	}
	header nav {
		text-align: right;
		font-size: 20px;
	}
	.title{
		text-align: left;
		margin-top: 10%;
		font-size: 40px;
	}
	.left img{
		width: 90%;
		margin-top: 10%;
		margin-left: 5%;
		height: auto;
	}
	.content .Right{
		margin:5px;
	}
	.content {
		flex-direction: column;
		margin-top: 20%;
           	display: flex;
	}
	.left, .Right{
		width: 100%;
	}
	.mobile{
		display: inline-block;
	}
	header nav .main-menu{
		display: block;
		background-color:#DB9353;
		position: absolute;
		top: 60px;
		left: 100%;
		width: 100%;
		height: 100vh;
		transition: 0.3s all ease-in-out;
	}
	header nav label.mobile{
		border: 1px solid black;
		border-radius: 5px;
		padding: 5px 10px;
		margin: 12px 15px;
	}
	header nav label.mobile:hover{
		cursor: pointer;
	}
	
	header nav #mobile-menu{
		display: none;
	}

	header nav #mobile-menu:checked + .main-menu{
		left: 0;
		transition: 0.3s all ease-in-out;
	}
	header nav .main-menu li{
		display: block;
		text-align: center;
	}
	header nav .main-menu li{
		color: white;
	}
}
@media screen and (max-width: 600px ) {
	body {
		margin-top: 20%;	
		width: 350px;
		margin-left: 50%;
	}
	header nav {
		text-align: right;
		font-size: 20px;
	}
	.title{
		text-align: left;
		margin-top: 10%;
		font-size: 40px;
	}
	.left img{
		width: 90%;
		margin-top: 10%;
		margin-left: 5%;
		height: auto;
	}
	.content .Right{
		margin:5px;
	}
	.content {
		flex-direction: column;
		margin-top: 20%;
           	display: flex;
	}
	.left, .Right{
		width: 100%;
	}
	.mobile{
		display: inline-block;
	}
	header nav .main-menu{
		display: block;
		background-color:#DB9353;
		position: absolute;
		top: 60px;
		left: 100%;
		width: 100%;
		height: 100vh;
		transition: 0.3s all ease-in-out;
	}
	header nav label.mobile{
		border: 1px solid black;
		border-radius: 5px;
		padding: 5px 10px;
		margin: 12px 15px;
	}
	header nav label.mobile:hover{
		cursor: pointer;
	}
	
	header nav #mobile-menu{
		display: none;
	}

	header nav #mobile-menu:checked + .main-menu{
		left: 0;
		transition: 0.3s all ease-in-out;
	}
	header nav .main-menu li{
		display: block;
		text-align: center;
	}
	header nav .main-menu li{
		color: white;
	}
}
@media screen and (max-width: 700px ) {
	
	.mobile{
		display: inline-block;
	}
	header nav .main-menu{
		display: block;
		background-color:#DB9353;
		position: absolute;
		top: 60px;
		left: 100%;
		width: 100%;
		height: 100vh;
		transition: 0.3s all ease-in-out;
	}
	header nav label.mobile{
		border: 1px solid black;
		border-radius: 5px;
		padding: 5px 10px;
		margin: 12px 15px;
	}
	header nav label.mobile:hover{
		cursor: pointer;
	}
	
	header nav #mobile-menu{
		display: none;
	}

	header nav #mobile-menu:checked + .main-menu{
		left: 0;
		transition: 0.3s all ease-in-out;
	}
	header nav .main-menu li{
		display: block;
		text-align: center;
	}
	header nav .main-menu li{
		color: white;
	}
}
@media screen and (max-width: 800px ) {
	
	.mobile{
		display: inline-block;
	}
	header nav .main-menu{
		display: block;
		background-color:#DB9353;
		position: absolute;
		top: 60px;
		left: 100%;
		width: 100%;
		height: 100vh;
		transition: 0.3s all ease-in-out;
	}
	header nav label.mobile{
		border: 1px solid black;
		border-radius: 5px;
		padding: 5px 10px;
		margin: 12px 15px;
	}
	header nav label.mobile:hover{
		cursor: pointer;
	}
	
	header nav #mobile-menu{
		display: none;
	}

	header nav #mobile-menu:checked + .main-menu{
		left: 0;
		transition: 0.3s all ease-in-out;
	}
	header nav .main-menu li{
		display: block;
		text-align: center;
	}
	header nav .main-menu li{
		color: white;
	}
}

@media screen and (max-width: 900px ) {
	
	.mobile{
		display: inline-block;
	}
	header nav .main-menu{
		display: block;
		background-color:#DB9353;
		position: absolute;
		top: 60px;
		left: 100%;
		width: 100%;
		height: 100vh;
		transition: 0.3s all ease-in-out;
	}
	header nav label.mobile{
		border: 1px solid black;
		border-radius: 5px;
		padding: 5px 10px;
		margin: 12px 15px;
	}
	header nav label.mobile:hover{
		cursor: pointer;
	}
	
	header nav #mobile-menu{
		display: none;
	}

	header nav #mobile-menu:checked + .main-menu{
		left: 0;
		transition: 0.3s all ease-in-out;
	}
	header nav .main-menu li{
		display: block;
		text-align: center;
	}
	header nav .main-menu li{
		color: white;
	}
}

@media screen and (max-width: 1000px ) {
	
	.mobile{
		display: inline-block;
	}
	header nav .main-menu{
		display: block;
		background-color:#DB9353;
		position: absolute;
		top: 60px;
		left: 100%;
		width: 100%;
		height: 100vh;
		transition: 0.3s all ease-in-out;
	}
	header nav label.mobile{
		border: 1px solid black;
		border-radius: 5px;
		padding: 5px 10px;
		margin: 12px 15px;
	}
	header nav label.mobile:hover{
		cursor: pointer;
	}
	
	header nav #mobile-menu{
		display: none;
	}

	header nav #mobile-menu:checked + .main-menu{
		left: 0;
		transition: 0.3s all ease-in-out;
	}
	header nav .main-menu li{
		display: block;
		text-align: center;
	}
	header nav .main-menu li{
		color: white;
	}
}

@media screen and (max-width: 1100px ) {
	
	.mobile{
		display: inline-block;
	}
	header nav .main-menu{
		display: block;
		background-color:#DB9353;
		position: absolute;
		top: 60px;
		left: 100%;
		width: 100%;
		height: 100vh;
		transition: 0.3s all ease-in-out;
	}
	header nav label.mobile{
		border: 1px solid black;
		border-radius: 5px;
		padding: 5px 10px;
		margin: 12px 15px;
	}
	header nav label.mobile:hover{
		cursor: pointer;
	}
	
	header nav #mobile-menu{
		display: none;
	}

	header nav #mobile-menu:checked + .main-menu{
		left: 0;
		transition: 0.3s all ease-in-out;
	}
	header nav .main-menu li{
		display: block;
		text-align: center;
	}
	header nav .main-menu li{
		color: white;
	}
}

@media screen and (max-width: 1200px ) {
	
	.mobile{
		display: inline-block;
	}
	header nav .main-menu{
		display: block;
		background-color:#DB9353;
		position: absolute;
		top: 60px;
		left: 100%;
		width: 100%;
		height: 100vh;
		transition: 0.3s all ease-in-out;
	}
	header nav label.mobile{
		border: 1px solid black;
		border-radius: 5px;
		padding: 5px 10px;
		margin: 12px 15px;
	}
	header nav label.mobile:hover{
		cursor: pointer;
	}
	
	header nav #mobile-menu{
		display: none;
	}

	header nav #mobile-menu:checked + .main-menu{
		left: 0;
		transition: 0.3s all ease-in-out;
	}
	header nav .main-menu li{
		display: block;
		text-align: center;
	}
	header nav .main-menu li{
		color: white;
	}
}

@media screen and (max-width: 1300px ) {
	
	.mobile{
		display: inline-block;
	}
	header nav .main-menu{
		display: block;
		background-color:#DB9353;
		position: absolute;
		top: 60px;
		left: 100%;
		width: 100%;
		height: 100vh;
		transition: 0.3s all ease-in-out;
	}
	header nav label.mobile{
		border: 1px solid black;
		border-radius: 5px;
		padding: 5px 10px;
		margin: 12px 15px;
	}
	header nav label.mobile:hover{
		cursor: pointer;
	}
	
	header nav #mobile-menu{
		display: none;
	}

	header nav #mobile-menu:checked + .main-menu{
		left: 0;
		transition: 0.3s all ease-in-out;
	}
	header nav .main-menu li{
		display: block;
		text-align: center;
	}
	header nav .main-menu li{
		color: white;
	}
}
@media screen and (max-width: 1400px ) {
	
	.mobile{
		display: inline-block;
	}
	header nav .main-menu{
		display: block;
		background-color:#DB9353;
		position: absolute;
		top: 60px;
		left: 100%;
		width: 100%;
		height: 100vh;
		transition: 0.3s all ease-in-out;
	}
	header nav label.mobile{
		border: 1px solid black;
		border-radius: 5px;
		padding: 5px 10px;
		margin: 12px 15px;
	}
	header nav label.mobile:hover{
		cursor: pointer;
	}
	
	header nav #mobile-menu{
		display: none;
	}

	header nav #mobile-menu:checked + .main-menu{
		left: 0;
		transition: 0.3s all ease-in-out;
	}
	header nav .main-menu li{
		display: block;
		text-align: center;
	}
	header nav .main-menu li{
		color: white;
	}
}

@media screen and (max-width: 1500px ) {
	
	.mobile{
		display: inline-block;
	}
	header nav .main-menu{
		display: block;
		background-color:#DB9353;
		position: absolute;
		top: 60px;
		left: 100%;
		width: 100%;
		height: 100vh;
		transition: 0.3s all ease-in-out;
	}
	header nav label.mobile{
		border: 1px solid black;
		border-radius: 5px;
		padding: 5px 10px;
		margin: 12px 15px;
	}
	header nav label.mobile:hover{
		cursor: pointer;
	}
	
	header nav #mobile-menu{
		display: none;
	}

	header nav #mobile-menu:checked + .main-menu{
		left: 0;
		transition: 0.3s all ease-in-out;
	}
	header nav .main-menu li{
		display: block;
		text-align: center;
	}
	header nav .main-menu li{
		color: white;
	}
}

@media screen and (max-width: 1600px ) {
	
	.mobile{
		display: inline-block;
	}
	header nav .main-menu{
		display: block;
		position: absolute;
		top: 60px;
		left: 100%;
		width: 100%;
		height: 100vh;
		transition: 0.3s all ease-in-out;
	}
	header nav label.mobile{
		border: 1px solid white;
		border-radius: 20px;
		padding: 20px 30px;
		margin: 12px 15px;
	}
	header nav label.mobile:hover{
		cursor: pointer;
	}
	
	header nav #mobile-menu{
		display: none;
	}

	header nav #mobile-menu:checked + .main-menu{
		left: 0;
		transition: 0.3s all ease-in-out;
	}
	header nav .main-menu li{
		display: block;
		text-align: center;
	}
	header nav .main-menu li{
		color: white;
	}
}
